In [89]:
import pandas as pd
import numpy as np

from geopy.distance import vincenty

from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import Normalizer
from sklearn.metrics import mean_absolute_error

import requests
import json
import os
import datetime

import sqlite3

In [6]:
# must have this config.py file with config={'secret':..., 'database':...} structure
from config import config

In [65]:
# request for information
def api_request(start, end, secret, url="https://api.uber.com/v1.2/requests/estimate"):
    """
        request ubrt api for price/distance estimation (max per hour requests ~100)
        Args:
            start (tuple) - lat/lon tuple for start point
            end (tuple) - lat/lon tuple for end point
            secret (dict) - secret token dictionary
            url (str) - request url
        Returns:
            result (json) - json output of request (None if status_code != 200)
    """
    
    data = {"start_latitude": start[0],
       "start_longitude": start[1],
       "end_latitude": end[0],
       "end_longitude": end[1]}

    headers = {'Content-type': 'application/json', 
               'Accept-Language': 'en_US',
              'Authorization': 'Bearer {}'.format(config['secret'])}
    
    r = requests.post(url, data=json.dumps(data), headers=headers)
    
    if r.status_code != 200:
        return 
    else:
        return r.json()
    
# parse json file 
def parse_json(json, length='km'):
    """
        parse uber api result json
        Args:
            json (json) - result requested json
            length (str) - type of length values to return - miles, kilometers or meters (mi/km/m)
        Returns:
            price, distance_estimation, time_estimation
    """
    
    length_dict = {'mi':1, 'km':1.60934, 'm':1609.34}
    
    if json is None:
        return -1, -1, -1
    else:
        if length not in length_dict.keys():
            mult = 1
        else:
            mult = length_dict[length]
        
        distance_estimation = json['trip']['distance_estimate'] * mult
        time_estimation = json['trip']['duration_estimate']
        price = json['fare']['value']
            
        return price, distance_estimation, time_estimation

In [46]:
def random_nodes(nodes_df, min_dist=500, n_points=10, patience=10):
    """
        generate n_points random point pairs from nodes dataframe with start-end distance >= min_dist 
        Args:
            nodes_df (pandas dataframe) - dataframe with node_id, lat, lon columns
            min_dist (int/float) - minimum start-end distance in meters
            n_points (int) - number of pairs for generating pairs
            patience (int) - number of iterations to generate needed amount of point pairs
        Returns:
            [start_lat, start_lon, end_lat, end_lon, start_node_id, end_node_id] (list) - coordinates and
                node id's list for start and end points
    """
    # result array and patience counter
    result = []
    counter = 0
    
    while (len(result) < n_points) & (counter < patience):
        vals = nodes_df.sample(n_points).values
        for n in range(len(vals)):
            for m in range(n+1, len(vals)):
                if vincenty(vals[n,[1,2]], vals[m,[1,2]]).m >= min_dist:
                    result.append(list(vals[n]) + list(vals[m]))
                    if len(result) >= n_points:
                        return result
    return result

In [58]:
rn = pd.DataFrame(random_nodes(x[['node_id','lat','lon']]), 
                  columns=['start_node_id','start_lat','start_lon','end_node_id','end_lat','end_lon'])

rn.start_node_id = rn.start_node_id.astype(int)
rn.end_node_id = rn.end_node_id.astype(int)

In [74]:
j1 = api_request(rn[['start_lat','start_lon']].values[2], rn[['end_lat','end_lon']].values[2], 
                 secret=config['secret'])
parse_json(j1, length='m')

(1238.0, 50758.5836, 3360)

In [86]:
def execute_sql(sql_query):
    """
        execute sql query
    """
    
    conn = sqlite3.connect('{}'.format(databae))
    cursrsor = conn.cursor() 
    
    # we can't use construction with conn.cursor() as cursor in sqlite3
    cursor.execute(sql_query)    

def check_table_existance(database, table, params):
    """
        check table existance in database
        create table if not exists
    """
    
    conn = sqlite3.connect('{}'.format(database))
    cursor = conn.cursor()
    
    # we can't use construction with conn.cursor() as cursor in sqlite3
    cursor.execute('CREATE TABLE IF NOT EXISTS {} ({});'.format(table, ','.join(params)))

In [88]:
check_table_existance('uber.sqlite', 'requests', ['datetime', 'start_lat', 'start_lon', 'end_lat', 'end_lon', 
                                                  'price', 'distance', 'time', 'json'])

In [ ]:
query = 'INSERT INTO {} VALUES ({})'.format('requests', ','.join([datetime.datetime.now()] + ))

In [22]:
def model(features, y):
    """
        create initial model
    """
    
    sgd = SGDRegressor()
    
    sgd.fit(features, y)
    

def update_model(model, features, y):
    """
        partial fit of model
    """
    
    model.partial_fit(features, y)
    
def predict(model, features):
    """
        predict result metrics with model
    """
    
    pass
    
def estimate_prediction(pred, y):
    pass

In [21]:
def normalaize_features(features):
    """
        normalaize features
    """
    
    norm = Normalizer()
    
    return norm.fit_transform(features)

In [23]:
df = pd.read_csv('krasnodar_weights_full.csv')

In [27]:
x = df[['source_id','source_coordinate']].rename(columns={'source_id':'node_id', 'source_coordinate':'node_coordinate'}
                                            ).append(df[['destination_id','destination_coordinate']].rename(
    columns={'destination_id':'node_id', 'destination_coordinate':'node_coordinate'})).drop_duplicates(subset='node_id')

In [32]:
x['lat'] = [float(i.replace('(','').replace(')','').split(',')[0]) for i in x.node_coordinate]
x['lon'] = [float(i.replace('(','').replace(')','').split(',')[1]) for i in x.node_coordinate]

In [34]:
x.to_csv('nodes.csv', index=False)

          node_id        lat        lon
0      1951023619  44.998144  38.728412
1      2241437513  45.002272  38.773641
2      2084874776  45.001033  38.772562
3      2084874068  45.000903  38.772445
4      2084874077  45.000798  38.768010
5      2084874078  45.000608  38.768496
6      2084874048  45.000401  38.769221
7      2084874057  45.000228  38.769736
8      2084874045  45.000167  38.769953
9      2241437459  45.000217  38.770089
10     2084874050  45.000206  38.770200
11     2084874058  44.999763  38.771372
13     2084874067  45.000993  38.767707
14     2084874047  45.001028  38.767571
15     2084874043  45.000993  38.767465
16     2084874056  45.000900  38.767374
17     2084874055  45.000338  38.767043
18     2084874053  45.000240  38.767025
19     2084874044  45.000135  38.767040
21     2084874071  45.001179  38.767919
22     2084874073  45.001582  38.768509
23     2241437509  45.001803  38.768758
24     2084874062  45.001833  38.770683
25      557290893  45.002032  38.770359
26      367381117  45.002197  38.776299
27      557254585  45.002010  38.778346
29      557254462  45.001974  38.778540
30     2084874773  45.000355  38.773399
31     2241437466  45.000599  38.773316
32     2084874780  45.000751  38.773128
...           ...        ...        ...
93137  2481959347  45.197166  39.243821
93144  1320382437  45.196857  39.242779
93182  3890282001  45.197556  39.254848
93187  3890282012  45.197877  39.257680
93209   348297685  45.201755  39.262977
93244  3459194855  45.200036  38.988174
93253  1361886863  45.199042  38.988661
93266  4585721365  45.200490  38.999155
93271  4035116795  45.199503  39.124360
93282  4035116386  45.200251  39.130314
93288  2931248495  45.200816  39.145494
93297  3848749559  45.200217  39.225556
93304  1403243809  45.200528  39.232613
93306  1403243805  45.200091  39.231324
93309  3822568543  45.200270  39.229995
93318  3888933044  45.200300  39.238323
93323  3888933054  45.200691  39.238787
93325  3888933028  45.199122  39.237711
93329  3888933022  45.198462  39.238344
93331  3888933037  45.200036  39.235183
93335  3888933019  45.198371  39.233896
93341  3888933045  45.200327  39.236394
93352  3888933025  45.198831  39.234596
93354  3822568430  45.200047  39.241740
93358   439778500  45.201135  39.241494
93362  1359718438  45.199394  39.244882
93363  1359718446  45.199084  39.250691
93372  3822568471  45.200117  39.245948
93380  1403275679  45.199402  39.246104
93397  3104232664  45.200081  39.260565

[62699 rows x 3 columns]

In [15]:
r.status_code

200

In [14]:
r.json()

{'fare': {'breakdown': [{'name': 'Base Fare',
    'type': 'base_fare',
    'value': 315.0}],
  'currency_code': 'RUB',
  'display': 'RUB315',
  'expires_at': 1525428727,
  'fare_id': 'c71054c2baff277b9ac27a4a050b7e63f99137ddbfbc2d738a33cd34b57d1543',
  'value': 315.0},
 'pickup_estimate': 5,
 'trip': {'distance_estimate': 7.09,
  'distance_unit': 'mile',
  'duration_estimate': 1560}}

In [ ]:
curl -X POST \
     -H 'Authorization: Bearer ' \
     -H 'Accept-Language: en_US' \
     -H 'Content-Type: application/json' \
     -d '{
       "start_latitude": 45.1197513,
       "start_longitude": 38.9752278,
       "end_latitude": 45.043968,
       "end_longitude": 38.946352
     }' "https://api.uber.com/v1.2/requests/estimate"